#header {
    text-align: center;
    background-color: lightblue;
    padding: 30px;
}
#head-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;   
}
.title {
    
}